<% if current_user.id == 1 %>
<%= link_to 'Nova Categoria', new_category_path %>
<%= link_to 'Novo Produto', new_product_path %>


<%= link_to 'Editar Categoria', categories_path %>
<%= link_to 'Editar Produto', products_path %>

<% else %>

<p>Apenas o administrador pode acessar essa área</p>
<%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'btn btn-danger'  %>

<% end %>