<p id="notice"><%= notice %></p>

<h1>Categorias</h1>

<% @categories.each do |category| %>
<p>
  <%= category.name %>
  <% if current_user.id == 1 %>
    <%= link_to 'Editar', edit_category_path(category) %> | 
    <%= link_to 'Excluir', category, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
</p>

<br>

<%= link_to 'Nova Categoria', new_category_path %>
