<!DOCTYPE html>
<html>
  <head>
    <title>FarmaSinos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <%= link_to "FarmaSinos", root_path, class: "navbar-brand" %>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
            <% if user_signed_in? %>
            <ul class="nav navbar-nav">
              <li>
                <%= link_to "Admin", admin_index_path %>
              </li>
              <li>
                <%= link_to "Estoque", products_path %>
              </li>
            </ul>
            <% end %>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><%= link_to current_user.email, edit_user_registration_path, :class => 'navbar-link' %></li>
                <li><%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
              <% else %>
                <li><%= link_to "Cadastrar", new_user_registration_path, :class => 'navbar-link'  %></li>
                <li><%= link_to "Logar", new_user_session_path, :class => 'navbar-link'  %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <br><br>
    <div class="container">

      <br><br>
      <%= yield %>
      
    </div>

    <footer>
      <div class="container">
        <p align="center">Admin: admin@farmasinos.com | Senha: admin123<br>(Pode criar e editar produtos e categorias)</p>
      </div>
    </footer>
  </body>
</html>
